{% extends 'layouts/base.html' %}

{% block head %} 
<title>Prosa.ai Chatbot</title>
{% endblock%}

{% block after_style %}
<link rel="stylesheet" href="{{ url_for('static',filename='styles/chatbot.css') }}">
{% endblock %}

{% block content %}
<div class="card card-bordered">
	<div class="card-header">
		<h4 class="card-title">
			<i class="fa fa-circle fa-xs mr-3" style="color:#63e4b6"></i>
			<strong>Prosa.ai Chatbot</strong>
		</h4>
	</div>
	<div 
		class="ps-container ps-theme-default ps-active-y" 
		id="chat-content" 
		style="overflow-y: scroll !important; height:400px !important;">
		{% for message in messages %}
			{% if message[1] == 'user' %}
			<div class="media media-chat media-chat-reverse">
				<div class="media-body">
					{% autoescape false %}
					<p>{{ message[0] }}</p>
					{% endautoescape %}
				</div>
			</div>
			{% else %}
			<div class="media media-chat"> 
				<img class="avatar" src="{{ url_for('static',filename='images/icoBot.png') }}" alt="...">
				<div class="media-body">
					{% autoescape false %}
					<p>{{ message[0] }}</p>
					{% endautoescape %}
				</div>
			</div>
			{% endif %}
		{% endfor %}
		{% if messages%}
		<div class="media media-meta-day">Last session</div>
		{% endif %}
		<div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
			<div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
		</div>
		<div class="ps-scrollbar-y-rail" style="top: 0px; height: 0px; right: 2px;">
			<div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 2px;"></div>
		</div>
	</div>
	<div class="publisher bt-1 border-light"> 
		<img class="avatar avatar-xs" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
		<textarea class="publisher-input" type="text" placeholder="Write something"  id="myMessage" rows="1">
		</textarea>
		<a class="publisher-btn text-info" href="#" data-abc="true" id="sendbutton">
			<i class="fa fa-paper-plane"></i>
		</a>
	</div>
</div>
{% endblock %}

{% block after_script %}
<script type="text/javascript" 
	src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"
></script>
<script type="text/javascript">
	$(document).ready(function () {
		// Clean tetxarea.
		$('#myMessage').val('');

		// ==============================================================
		// Variable initialization.
		// ==============================================================
		const ws = new WebSocket('ws://localhost:5000/api/v1/messages');
		var timerId = 0

		// ==============================================================
		// Function Definition. 
		// ==============================================================
		
		/**
		 * @description Close the websocket connection.
		 * @returns {void} 
		 */
		 var closeWs = function(){
			console.log("Max idle timeout reached")
			ws.close();
		}

		/**
		 * @description Add message to chatbox.
		 * @param {string} message - Message to be added to chatbox.
		 * @param {string} sender - Sender of the message, value can be 'bot' or 'user'. 
		 */
		const addMessage = function (message, sender = 'bot') {
			// Replace all new line characters with <br> tags.
			message = message.replace(/\n/g, '<br>');

			// Add message based on sender.
			// Add user message.
			if (sender == 'user') {
				$('#chat-content').append(`
					<div class="media media-chat media-chat-reverse">
						<div class="media-body">
							<p>
								${message}
							</p>
						</div>
					</div>
				`);
			}

			// Add bot message
			if (sender == 'bot') {
				$('#chat-content').append(`
					<div class="media media-chat">
						<img 
							class="avatar" src="`+'{{ url_for("static",filename="images/icoBot.png") }}'+`
							" alt="bot">
						<div class="media-body">
							<p>
								${message}
							</p>
						</div>
					</div>'
				`);
			}

			// Scroll to bottom of chatbox.
			$('#chat-content').scrollTop($('#chat-content').prop('scrollHeight'));
		}

		/**
		 * @description Send message to server with socket.
		 * @param {string} message 
		 */
		const sendMessage = function () {
			clearTimeout(timerId);
			var myMsg = $('#myMessage').val().replace(/<(?!br\s*\/?)[^>]+>/g, '');
			window.scrollTo(100,1325);
			if (myMsg != ""){
				// Add the sended message to chat. 
				addMessage(myMsg, 'user');
				
				// Empty the textarea. 
				$('#myMessage').val('');
				$("#myMessage").attr("style", "").val("")

				// Send message to server with socket.
				ws.send(JSON.stringify({
					"message": myMsg,
				}));
				
			} else {
				console.log("Message is empty");
			}
			timerId = setTimeout(closeWs, 30000);
		}

		// ==============================================================
		// Callback function definition.
		// ==============================================================

		// Check if socket is connected. 
		ws.onopen = function () {
			console.log('Connected to websocket server.');
			addMessage(`Selamat datang, kenalkan aku adalah  Chatbot Prosa.ai.
				Silahkan bertanya apapun yang ingin kamu tanyakan kepada saya.`, 'bot');
			timerId = setTimeout(closeWs, 30000);
		};

		// Check for websocket errors.
		ws.onerror = function (error) {
			console.log('WebSocket error: ' + error);
		};

		// Closed websocket and give farewell message.
		ws.onclose = function () {
			console.log('Disconnected from websocket server.');
			addMessage(`Sepertinya kamu sudah bosan berbicara dengan saya. 
				Kalau begitu, saya akan akhiri sesi pembicaraan ini, sampai jumpa lagi!
				(Tenang saja, data percakapan kita masih tersimpan)`, 'bot');
			
			// Disable the textarea.
			$('#myMessage').attr('placeholder', `Percakapan dihentikan, refresh halaman jika ingin bertanya lagi.`);
			$('#myMessage').prop('disabled', true); 
			
		};

		// Callback function when a message is received from server.
		ws.onmessage = function(e) {
			e.preventDefault();
			clearTimeout(timerId);
			timerId = setTimeout(closeWs, 30000);

			// Parse message from server and put the message in chatbox.
			var data = JSON.parse(e.data);
			addMessage(data.data.message, data.data.sender);
		}

		// Send message when send button is clicked. 
		$('#sendbutton').on('click', sendMessage);

		// Send message when enter is pressed. 
		$('textarea').keypress(function(e) {
			if (e.keyCode == 13 && !e.shiftKey) {
				event.preventDefault();
				sendMessage();
			}
		});
	});

	// Make the message in chat look more readable.  
	$("textarea").each(function () {
		this.setAttribute("style", "height:" + (this.scrollHeight) + 
			"px;overflow-y:hidden;" + "resize:none;"); 
	}).on("input", function () {
		this.style.height = "auto";
		this.style.height = (this.scrollHeight) + "px";
	});
</script>
{% endblock %}