<!DOCTYPE html>
<html lang="en">
  <head>
	{% block head %} {% endblock%}
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	{% block before_style %} 
	{% endblock%}
	
	{% include 'includes/styles.html' %}

	{% block after_style %} 
	{% endblock%}
  </head>

	<body>
		<div class="page-content page-container" id="page-content" style="background-color: #e0effa;">
			<!-- ======= Chat Section ======= -->
			<section id="chat_application" class="features" style="padding: 12px !important;">
				<header class="section-header" style="padding-bottom:  20px !important;">
					<h2>Chat Application</h2>
					<p>Web Conversation Agent (Chatbot) </p>
				</header>
				<div class="row container d-flex justify-content-center mr-auto ml-auto">
					<div class="col-12 col-md-7">
						{% block content %}
						{% endblock %}
					</div>
				</div>
			</section>
			<!-- <div class="container">
				<div class="row justify-content-center mb-4">
					<div class="col-4">
						<a href="/" class="btn btn-primary btn-block">Back to home page</a>
					</div>
				</div>
			</div> -->
			<!-- ======= End Chat ======= -->
		</div>
		{% include 'includes/footer.html' %}
	<!-- Script -->
	{% block before_script %} 
	{% endblock%}

	{% include 'includes/scripts.html' %}
	
	{% block after_script %} 
	{% endblock%}
  </body>
</html>