<footer>
    <div class="div border-top pt-3 pb-3">
        <div class="row justify-content-center align-items-center">
            <div class="col-auto text-gray-500 font-weight-light">
                2022 Prosa.ai Chatbot @ Backend Engineer(NLP) Entrance Test - Reihan Andhika Putra
            </div>
        </div>
    </div>
</footer>